<div id="aymakan_cities">
<input class="input-text" type="text" data-bind="
    afterRender: cityAutoComplete,
    value: value,
    valueUpdate: 'keyup',
    hasFocus: focused,
    attr: {
        name: inputName,
        placeholder: placeholder,
        'aria-describedby': getDescriptionId(),
        'aria-required': required,
        'aria-invalid': error() ? true : 'false',
        id: uid,
        disabled: disabled
    }" name="city" data-validate="{required:true}" placeholder="Enter your city">
</div>
