<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <aymakan_carrier>
                <active>0</active>
                <model>Aymakan\Carrier\Model\Carrier\AymakanShipping</model>
                <name>Fixed</name>
                <title>Aymakan Carrier</title>
                <price>25.00</price>
                <sallowspecific>0</sallowspecific>
                <collection_city>Riyadh</collection_city>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </aymakan_carrier>
        </carriers>
    </default>
</config>
