<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <shiphawk_customshipping>
                <active>0</active>
                <model>Aymakan\Carrier\Model\Carrier\AymakanShipping</model>
                <name>Fixed</name>
                <title>Aymakan Carrier</title>
                <sallowspecific>0</sallowspecific>
            </shiphawk_customshipping>
        </carriers>
    </default>
</config>